robotframework==5.0.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==6.0.0
webdrivermanager==0.10.0
webdriver-manager==3.8.2
allure-robotframework==2.9.45
robotframework-pabot==2.5.4
